<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title th:text="${title}"></title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.css">
    <script type="text/javascript" src="/main.js"></script>
</head>
<body>
<div class="container">
    <h1 th:text="${title}"></h1>

    <div th:if="${not isLoggedIn}">
        <a href="/login">Login</a>
        <!--    <a href="/register">Register</a>-->
    </div>

    <table class="table table-striped">
        <tbody th:if="${not parts.isEmpty()}">
        <th:block th:each="part : ${parts}">
            <tr>
                <td th:text="${part.partNumber}"></td>
                <td th:text="${part.title}"></td>
                <td><a href="#" onclick="loadPart(2)">Info</a></td>
            </tr>
            <!-- test -->
        </th:block>
        </tbody>
        <tbody th:if="${parts.isEmpty()}">
        <tr>
            <td>No parts found.</td>
        </tr>
        </tbody>
    </table>

    <div id="partInfo"></div>

    <a href="/admin/parts/add" th:if="${isAdmin}">Add part...</a>
</div>
</body>
</html>
